.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 600px;
    height: auto;
    border: 1px solid black;
    overflow: scroll hiddden;
}

.complete_form {
    width: 600px;
}

.form_payment {
    height: 310px;
    border: 2px solid purple;
}

legend {
    border: 2px solid purple;
}

.form_payment fieldset {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 270px;
    border: 1px solid plum;
}

form ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 5px;
    list-style-type: none;
}

form ul li {
    display: flex;
    margin-bottom: 10px;
}

.input::-webkit-input-placeholder {
    display: none;
}

label {
    display: inline-block;
    width: max-content;
    margin-right: 10px;
}

input[type="radio"] {
    display: inline-flex;
}

.form_contact {
    height: 250px;
    border: 2px solid purple;
}

fieldset {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 210px;
    border: 1px solid plum;
}

.form_address {
    height: 570px;
    border: 2px solid purple;
}
.form_address fieldset legend {
    border: 2px solid purple;
}

.form_address fieldset {
    height: 520px;
}

.form_address_data fieldset {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    height: 160px;
    border: 1px solid plum;
    margin-bottom: 20px;
}


#address_data2 label {
    align-items: center;
    margin: auto;
}

#address_data2 input {
    margin-left: 70px;
}

.form_address_data2 fieldset { 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    height: 60px;
    border: 1px solid plum;   
}

.form_submit {
    height: 200px;
    border: 2px solid purple;
}
.form_submit fieldset {
    margin-left: 20px;
    height: 160px;
}


.form_submit ul {
    display: flex;
    margin-left: 10px;
    padding-left: 0px;
}

.form_submit ul li {
    margin-left: 0px;
    list-style-type: none;
    margin-bottom: 15px;
}

#form_div p {
    margin: 0px 125px; 
    font-size: 12px;
}

#form_div label {
    width: 110px;
    margin-top: 0px;
}

#form_div input[type="text"] {
    width: 200px;
}

#valid_date_label {
    width: 70px !important;
}


#form_phone {
    display: flex;
}

#form_phone p {
    width: 110px;
    margin-top: 3px;
    font-size: 16px;
}

#form_phone th {
    font-weight: normal;
}

#form_contactlist label {
    width: 120px;
    margin-right: 0px;
}

.form_address_data fieldset legend {
    border: 2px solid purple;
}

#form_addresslist label {
    margin-right: 0px;
    width: 80px;
}

#form_addresslist input {
    width: 150px;
}

#form_addresslist select {
    width: 100px;
}

.form_address_data2 fieldset legend {
    border: 2px solid purple;
}

#address_data2 {
    display: inline-flex;
}

.form_address_data {
    margin-top: 20px;
}


#form_submit_div label {
    width: 150px;
}

#form_submit_div input {
    width: 200px;
}

button[type="submit"] {
    margin: 10px; width: 100px; 
    background-color: purple; 
    color: white;
}

input[type="reset"] {
    margin: 10px; width: 100px; 
    background-color: purple; 
    color: white;
}
#form_phone table {
    margin-left: 10px;
}
