* {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70%;
    height: auto;
    border: 0.125rem solid black;
    box-sizing: border-box;
}


.project_column {
    width: 65%;
    margin: 0% 3% 0.1%;
    box-sizing: border-box;
}


.info_column {
    width: 35%;
    margin-top: 0%;
    padding-top: 0%;
    background-color: lavender;
    box-sizing: border-box;
}

.profile_image {
    background-color: white;
    justify-content: center;
    margin: 0%;
    width: auto;
    height: auto;
    border: 0.125rem solid black;
    align-items: right;
}


.profile_image img {
    object-fit: contain;
    margin: auto;
    width: 100%;
    height: auto;
}


.home {
    display: inline-flex;
    margin: 5% 5% 5% 5%;
}

.home p {
    margin: 0%; 
    margin-bottom: 10%;
    font-size: 1.25rem;
}

.home a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    margin: 2%; 
    padding: 0%;
    overflow-x: scroll;
}



.home img {
    margin-top: 0%;
    margin-right: 10%;
    width: 10%;
    height: 10%;
}

.education_container {
    display: grid;
    list-style-type: none;
}

.education_container h1 {
    padding: 0%;
    margin: 19% 3%;
    margin-right: 20%;
    color: purple;
}

.profile_text {
    text-align: justify;
}

.profile_img img {
    width: 2rem;
    height: 2rem;
}

.profile_img {
    display: flex;
    margin: 5% 0%;
    padding: 0%;
}

.profile_img h2 {
    margin: 0% 1rem;
    padding: 0%;
    color: purple;
}

.profile_text h1 {
    text-align: center;
    padding: 0%;
    color: white;
    font-weight: bolder;
}

.profile_text h2 {
    text-align: center;
    padding: 0%; 
    color: white;
}

.project_list_div h3 { 
    margin: 5% 0%;
}

.project_list {
    display: flex;
    width: 99%;
    margin-bottom: 3%;
}

.project_list h5 {
    align-items: center;
    margin: auto;
    margin-right: 0%;
    color: purple;
}

.project_desc {
    display: block;
}

.project_desc h3 {
    color: purple;
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 0%;
}

.project_desc p {
    margin-top: 0%;
    padding: 0%;
    text-align: justify;
}

.project_list h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.project_desc a {
    text-decoration: none;
    font-style: italic;
}

.skills_container {
    margin-top: 5%;
}

.skills_text ul li a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.skills_text ul {
    margin-left: 0%;
    padding-left: 0%;
    list-style-type: none;
}


.skills_text li {
    margin-bottom: 3%;
    display: flex;
}


.skills_per {
    margin-left: 1%;
    width: 100%;
    border: 0.125rem solid purple;
}

.xhtml {
    width: 70%;
    height: 100%;
    background-color: purple;
}

.php {
    width: 90%;
    height: 100%;
    background-color: purple;
}

.photoshop {
    width: 20%;
    height: 100%;
    background-color: purple;
}

.cms_simple {
    width: 40%;
    height: 100%;
    background-color: purple;
}

.jquery {
    width: 90%;
    height: 100%;
    background-color: purple;
}

.css {
    width: 70%;
    height: 100%;
    background-color: purple;
}


.html {
    width: 80%;
    height: 100%;
    background-color: purple;
}

.wordpress {
    width: 50%;
    height: 100%;
    background-color: purple;
}

.mangento {
    width: 30%;
    height: 100%;
    background-color: purple;
}

.javascript {
    width: 60%;
    height: 100%;
    background-color: purple;
}

.personal_info {
    padding: 0%;
    margin-bottom: 10%;
    height: auto;
    background-color: purple;
}

.contact_info {
    margin-top: 5%;
    margin-right: 10%;
    height: auto;
}

#phone {
    width: 10%;
    height: 10%;
}

.edu_details {
    padding-top: 0%;
    margin-top: 0%;
    margin-right: 20%;
    padding-left: 5%;
}

.edu_details li {
    list-style-type: none;
}

.edu_details li h3 {
    padding-top: 3%;
    margin-top: 0%;
    margin-right: 5%;
    color: purple;
    margin-bottom: 5%;
}

.edu_details li h4 {
    margin-top: 2%;
    color: black;
}

.edu_details li h5 {
    margin-left: 0%;
    margin-top: 2%;
    color: black;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: lavender;
}