* {
    word-wrap: break-word;
    overflow: break-word;
    max-width: 100%;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 37.5rem;
    height: auto;
    border: 0.0625rem solid black;
    overflow: scroll hiddden;
}

.complete_form {
    width: 37.5rem;
}

.form_payment {
    height: 19.5rem;
    border: 0.125rem solid purple;
}

legend {
    border: 0.125rem solid purple;
}

.form_payment fieldset {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 16.875rem;
    border: 0.0625rem solid plum;
}

form ul {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    margin-left: 2%;
    list-style-type: none;
}

form ul li {
    display: flex;
    margin-bottom: 2%;
}

.input::-webkit-input-placeholder {
    display: none;
}

label {
    display: inline-block;
    width: max-content;
    margin-right: 0.625rem;
}

input[type="radio"] {
    display: inline-flex;
}

.form_contact {
    height: 15.625rem;
    border: 0.125rem solid purple;
}

fieldset {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 13.125rem;
    border: 0.0625rem solid plum;
}

.form_address {
    height: 35.625rem;
    border: 0.125rem solid purple;
}
.form_address fieldset legend {
    border: 0.125rem solid purple;
}

.form_address fieldset {
    height: 32.5rem;
}

.form_address_data fieldset {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 2%;
    height: 10rem;
    border: 0.0625rem solid plum;
    margin-bottom: 4%;
}


#address_data2 label {
    align-items: center;
    margin: auto;
}

#address_data2 input {
    margin-left: 4.375rem;
}

.form_address_data2 fieldset { 
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 2%;
    height: 3.75rem;
    border: 0.0625rem solid plum;   
}

.form_submit {
    height: 12.5rem;
    border: 0.125rem solid purple;
}
.form_submit fieldset {
    margin-left: 4%;
    height: 10rem;
}


.form_submit ul {
    display: flex;
    margin-left: 2%;
    padding-left: 0%;
}

.form_submit ul li {
    margin-left: 0%;
    list-style-type: none;
    margin-bottom: 0.9375rem;
}

#form_div p {
    margin: 0% 7.8125rem; 
    font-size: 0.84rem;
}

#form_div label {
    width: 6.875rem;
    margin-top: 0%;
}

#form_div input[type="text"] {
    width: 12.5rem;
}

#valid_date_label {
    width: 4.375rem !important;
}


#form_phone {
    display: flex;
}

#form_phone p {
    width: 6.875rem;
    margin-top: 1%;
    font-size: 1rem;
}

#form_phone th {
    font-weight: normal;
}

#form_contactlist label {
    width: 7.5rem;
    margin-right: 0%;
}

.form_address_data fieldset legend {
    border: 0.125rem solid purple;
}

#form_addresslist label {
    margin-right: 0%;
    width: 5rem;
}

#form_addresslist input {
    width: 9.375rem;
}

#form_addresslist select {
    width: 6.25rem;
}

.form_address_data2 fieldset legend {
    border: 0.125rem solid purple;
}

#address_data2 {
    display: inline-flex;
}

.form_address_data {
    margin-top: 1.25rem;
}


#form_submit_div label {
    width: 9.375rem;
}

#form_submit_div input {
    width: 12.5rem;
}

button[type="submit"] {
    margin: 0.625rem; width: 6.25rem; 
    background-color: purple; 
    color: white;
}

input[type="reset"] {
    margin: 0.625rem; width: 6.25rem; 
    background-color: purple; 
    color: white;
}
#form_phone table {
    margin-left: 0.625rem;
}


@media (max-width: 37rem) {
    .forms {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        width: 27rem;
        height: auto;
        border: 0.0625rem solid black;
        overflow: scroll hiddden;
    }
    .complete_form {
        width: 27rem;
    }
    
    .form_payment {
        height: 22rem;
        border: 0.125rem solid purple;
    }
    
    legend {
        border: 0.125rem solid purple;
    }
    
    .form_payment fieldset {
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        height: 19.5rem;
    }
    .form_contact {
        height: 17rem;
        border: 0.125rem solid purple;
    }
    #form_phone {
        display: block;
    }
    #form_phone table {
        margin: 0%;
    }
    fieldset {
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        height: 14.6rem;
        border: 0.0625rem solid plum;
    }
    #form_submit_div label {
        width: 17rem;
    }
    .form_address fieldset {
        height: 37rem;
    }

    .form_address {
        height: 39rem;
        border: 0.125rem solid purple;
    }
    
    .form_address_data fieldset {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 2%;
        height: 12rem;
        border: 0.0625rem solid plum;
        margin-bottom: 4%;
    }
    .form_address_data2 fieldset { 
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 2%;
        height: 4.5rem;
        border: 0.0625rem solid plum;   
    }
    
    .form_submit {
        height: 16rem;
        border: 0.125rem solid purple;
    }
    .form_submit fieldset {
        margin-left: 4%;
        height: 13.7rem;
    }
}