.body {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container {
    margin: 2% auto;
    width: 70%;
    border: 0.125rem solid black;
}
.intro_container h4 {
    font-size: 2rem; 
    margin: auto 3%;
}

.intro_container h5 {
    font-size: 1.25rem; 
    margin: 0% 5% 0% 3%; font-style:italic;
}

.home p {
    margin: 0; 
    font-size: 0.75rem;
}

.home a {
    margin: 0; 
    font-size: 0.75rem;
    color: black;
}

.heading_container {
    display: inline-flex;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    width: 95%;
}

.intro_container {
    display: grid;
    gap: 0.125rem;
    width: 55%;
    height: auto;
    border: 0.125rem solid black;
    box-shadow: -0.80rem -.80rem 0.80rem lavender, 0.80rem -0.80rem 0.80rem lavender;
}
.home {
    display: inline-flex;
    margin: 0 4% 0 4%;
}
.home img {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 3%;
}

.profile_image {
    box-shadow: -0.80rem 0.80rem 0.80rem lavender, 0.80rem -0.80rem 0.80rem lavender;
    margin-left: auto;
    width: 11.8rem;
    height: auto;
    border: 0.125rem solid black;
}


.profile_image img {
    object-fit: contain;
    margin: auto;
    width: 100%;
    height: auto;
}

.body_text h3 {
    font-style:italic;
    margin-right: 3%;
}

.body_container {
    display: block;
    align-items: center;
    margin: 7% auto;
    width: 95.5%;
    height: auto;
    background-color: lavender;
}

.body_text {
    margin: 5% 5% 0% 5%;
    display: inline-flex;
    font-size: 0.75rem;
    gap: 1rem;
    text-align: justify;
}

.body_text p {
    margin-left: 2%;
}

.body_text  ul{
    margin-left: 1.7rem;
    padding-left: 0%;
    font-weight: bold;
    columns: 3;
    column-gap: 3rem;
    list-style-type: square;
}

.body_text ul li a {
    color:black; 
    text-decoration: none;
}

.table_container {
    margin: 1.25rem 1.25rem;
    font-weight: bolder;
}

.table_container table {
    margin-top: 3%;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 0.125rem solid black;
}

.table_container td, th {
    border: 0.125rem solid lightgray;
}

.table_container th {
    background-color: lavender;
    border: 0.125rem solid black;
}

.table_container tr {
    height: 1.56rem;
}

.table_container thead {
    font-weight: bolder; 
    font-style: italics;
}


.body_text_exp h3 {
    font-style: italic;
    font-size: 0.93rem;
    margin-left: 1rem;
}


.body_text_exp {
    display: flex;
    flex-direction: row;
}

.company_container {
    margin: -0.125rem 0.93rem;
    padding: 0%;
}

.company_container h4 {
    font-size: 0.825rem;
}

.company_container p {
    font-size: 0.75rem;
    text-align: justify;
    margin-right: 2%;
    margin-bottom: 7%;
}