.container {
    display: flex;
    align-items: center;
    margin: 50px auto;
    max-width: 600px;
    width: 600px;
    height: auto;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 5px 5px lightgray;
}

.container_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Sans-serif', 'Arial', 'Verdana', 'Helvetica';
}


.container_data h4 {
    margin: 10px 20px 22px;
}

.data_style {
    margin-left: 20px;
    width: 100%;
}

.data_style h3 {
    color: #318CE7;
    font-size: 18px;
    margin: 0px;
}

.data_body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

